body 
{
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.login-container 
{
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: 400px;
}

h2 
{
	color: #333333;
	margin-bottom: 20px;
}

form 
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

label 
{
	display: block;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
}

input[type="text"], input[type="password"] 
{
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

input[type="submit"] 
{
	background-color: #333333;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
	width: 100%;
}

input[type="submit"]:hover 
{
	background-color: #555555;
}

p 
{
	margin-top: 20px;
	text-align: center;
}